@charset "utf-8";
/*! recurringcss.css v0.9 | GNU Public License 3.0 */

/*
 * html Elements
 */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  color: #202020;
  font-size: 4pt;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  height: 100%;
  text-rendering: optimizeLegibility;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

body {
  font-size: 4rem;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  background: #EFEFEF;
  height: 100%;
}

:focus {
  outline: 0;
}

::-moz-selection {
  background: #05487f;
  text-shadow: none;
  color: #EFEFEF;
}

::selection {
  background: #05487f;
  text-shadow: none;
  color: #EFEFEF;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.5em 0;
  line-height: 1;
  font-weight: bold;
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5.5rem;
}

h4 {
  font-size: 5rem;
}

h5 {
  font-size: 4.5rem;
}

h6 {
  font-size: 4rem;
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #909090;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

a:hover,
a:focus {
  border-bottom: 1px solid #05487f;
  color: #05487f;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #B0B0B0;
  margin: 1em 0;
  padding: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  border: 0;
  padding: 2rem;
  border-bottom: 1px solid #B0B0B0;
  width: 100%;
  background: transparent;
  display: inline-block;
  border-radius: 0;
  outline: 0;
}

input,
select,
button {
  line-height: normal;
}

select,
option {
  cursor: pointer;
}

option {
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {  
  color: inherit; 
}

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
  border-bottom: 1px solid #E74C3C;
}

:-moz-ui-invalid {
  box-shadow:none;
  border-bottom: 1px solid #E74C3C;
}

input:hover, input:focus,
select:hover, select:focus {
  border-bottom: 1px solid #05487f;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  width: auto;
  border: 0;
  cursor: pointer;
  background-color: #B0B0B0;
  -webkit-transition: background-color 0.3s ease, color .3s ease;
          transition: background-color 0.3s ease, color .3s ease;
}

button:hover, button:focus,
html input[type="button"]:hover, html input[type="button"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #05487f;
  color: #EFEFEF;
}


input[type="image"],
a img{
  border: 0;
  padding: 0;
}

input[type="image"]:hover, input[type="image"]:focus,
a img:hover, a img:focus {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

textarea {
  resize: vertical;
  border: 1px solid #B0B0B0;
}

label {
  cursor: pointer;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/*
 * Helper
 */

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'icons-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}
